* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  height: 80px;
  background-color: blue;
  color: white;
  display: flex;
}

header > *,
footer > * {
  margin: auto;
}

main {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

main > * {
  margin: auto;
}

main .success,
main .error {
  margin: 20px;
  text-align: center;
}

main .success {
  color: green;
}

main .error {
  color: red;
}

main .locations {
  width: 80%;
}

main .locations h1,
main .locations h2 {
  margin: 20px 0;
}

